@import './variables';
@import './functions';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.navigation
{
    width: 100%;
}

.profile
{
    width: 35px;
    height: 35px;
    border-radius: 15px;
}

.navigation-btn
{
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
    background: $blueGlacial !important;
    font-weight: bold;
}


@include media-breakpoint-down(md) {
    .navigation-btn
    {
        width: 100px;
        text-align: center;
        margin: 5px auto;
    }
}



