
@import './variables';
@import './functions';


td,
tr{
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-weight: bold;
}


.currentDay
{
    cursor: $cursorForPointer;
    background: $darkGray;
}

.weekDays:hover{
    cursor: $cursorForPointer;
    background: $blueSoftCyan;
}

.weekEnd{
    cursor: $cursorForPointer;
    color: $blueGlacial;
}

.weekEnd:hover{
    background: $blueSoftCyan;
}

.calendar
{
    display: inline-block;
    padding: 11px;
}

.calendar-container 
{
    width: 300px;
    height: 280px;
    background: white;
}

.tableCustom
{
    text-align: center;
    margin: 0px auto;
}

.table-header
{
    background: $lightGrey;
    color: $darkGray;
}

.month 
{
    font-weight: bold;
    padding-top: 5px; 
    padding-bottom: 5px; 
    color: $blueGlacial;
}

