
@import './variables';
@import './functions';


td,
tr{
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-weight: bold;
}


.currentDay
{
    cursor: $cursorForPointer;
    background: $dimGray;
}

.weekDays:hover{
    cursor: $cursorForPointer;
    background: $blueSoftCyan;
}

.weekEnd{
    cursor: $cursorForPointer;
    color: $blueGlacial;
}

.weekEnd:hover{
    background: $blueSoftCyan;
}


.holiday
{
    background: $blueSky;
}

.birthday
{
    background: $greenMint;
}

.busy
{
    background: $red;
}

.anniversary
{
    background: $goldBright;
}


.holidayToday
{
    background: linear-gradient(45deg, $dimGray 50%, $blueSky 50%);
}

.birthdayToday
{
    background: linear-gradient(45deg, $dimGray 50%, $greenMint 50%);
}

.busyToday
{
    background: linear-gradient(45deg, $dimGray 50%, $red 50%);
}

.anniversaryToday
{
    background: linear-gradient(45deg, $dimGray 50%, $goldBright 50%);
}


.calendar
{
    display: inline-block;
    padding: 11px;
}

.calendar-container 
{
    width: 300px;
    height: 280px;
    background: white;
}

.tableCustom
{
    text-align: center;
    margin: 0px auto;
}

.table-header
{
    background: $lightGrey;
    color: $darkGray;
}

.month 
{
    font-weight: bold;
    padding-top: 5px; 
    padding-bottom: 5px; 
    color: $blueGlacial;
}

