/* create variables here */
$blueIvy: #3090C7;
$blueKoi: #659EC7;
$blueGlacial: #1F618D;
$blueSoftCyan :#99ccff;

$lightGrey: #D3D3D3;
$darkGray: #878787;
$dimGray: #696969; 

$maroon: #800000;
$darkRed: #8B0000;
$red: #FF0000;

$greenMint: #98FF98;

$goldBright: #FFDC73;

$blueSky :#4FC2D6;

$cursorForPointer: pointer;