@import './variables';
@import './functions';

.eventCategory
{
    width: 100%;
    height: 500px;
    margin: 0px auto;
    text-align: center;
}

.eventCategoryTitle
{
    font-weight: bold;
    color: $blueGlacial;
}

.eventCategoryDate
{
    font-weight: bold;
}

.listGroup
{
    cursor: pointer;
    margin-top: 20px;
}

.listGroupItem
{
    cursor: pointer;
    margin-top: 10px;
    //font-weight: bold;
}

.clostBtn
{
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    background: $dimGray !important;
    border-color: $dimGray !important;
}

.holiday
{
    cursor: $cursorForPointer;
    background: $blueSky !important;
    border-color: $blueSky !important;
}

.holidayActive::before
{
    content: $remove;
}

.holidayActive
{

    background: $blueSky !important;
    border-color: $blueSky !important;
}

.birthday
{
    cursor: $cursorForPointer;
    border-color: $greenMint !important;
    background: $greenMint !important;
    
}

.birthdayActive::before
{
    content: $remove;
}

.birthdayActive
{
    background: $greenMint !important;
    border-color: $greenMint !important;
}

.busy
{
    cursor: $cursorForPointer;
    background: $red !important;
    border-color: $red !important;
}

.busyActive::before
{
    content: $remove;
}

.busyActive
{
    background: $red !important;
    border-color: $red !important;
}

.anniversary
{
   cursor: $cursorForPointer;
    background: $goldBright !important;
    border-color: $goldBright !important;
}

.anniversaryActive::before
{
    content: $remove;
}

.anniversaryActive
{
    background: $goldBright !important;
    border-color: $goldBright !important;
}

