/* Global */
html, 
body {
    background: grey
}

.App {
  text-align: center;
}

.AppLoadingStyle{
    display: inline-block;
    height: 100vh !important;
    vertical-align: middle;
    line-height: 50;
}